.terraform
license_vault*
ca.pem*
NOTES*
LOGS*
/private_keys/private*
!/**/.gitkeep
trash/
crash.log
.terraform
.terraform.*
default_values.yaml
diagrams/main_diagram_dark.png
vault-k8s-presentation.pptx